<?xml version="1.0"?>

<?if $(sys.BUILDARCH)="x86"?>
    <?define Program_Files="ProgramFilesFolder"?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Program_Files="ProgramFiles64Folder"?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <Product Id="*" UpgradeCode="50c2a4d4-747d-4ee1-8aa5-cca780d1f542"
            Name="M2000"
            Version="0.8.1"
            Manufacturer="M2000"
            Language="1033">

      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" InstallScope="perMachine"/>

      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

      <Icon Id="P2000T.ico" SourceFile="P2000T.ico"/>
      <Property Id="ARPPRODUCTICON" Value="P2000T.ico" />

      <Upgrade Id="50c2a4d4-747d-4ee1-8aa5-cca780d1f542">
         <UpgradeVersion Minimum="0.8.1" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
         <UpgradeVersion Minimum="0.0.0" Maximum="0.8.1" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED"/>
      </Upgrade>
      <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="$(var.Program_Files)">
            <Directory Id="INSTALLDIR" Name="M2000">
               <Component Id="ApplicationFiles" Guid="e5d50ebc-5354-45a1-8438-f0f51d5855df">
                  <File Id="M2000.exe"           Source="..\..\M2000.exe" />
                  <File Id="cassette_blue.ico"   Source="cassette_blue.ico" />
                  <File Id="cassette_red.ico"    Source="cassette_red.ico" />
                  <File Id="ApplicationFile1"    Source="..\..\Default.fnt"/>
                  <File Id="ApplicationFile2"    Source="..\..\P2000ROM.bin"/>
                  <File Id="ApplicationFile3"    Source="..\..\BASIC.bin"/>
                  <File Id="ApplicationFile4"    Source="..\..\README.md"/>
                  <File Id="ApplicationFile5"    Source="..\..\allegro\bin\allegro-5.2.dll"/>
                  <File Id="ApplicationFile6"    Source="..\..\allegro\bin\allegro_primitives-5.2.dll"/>
                  <File Id="ApplicationFile7"    Source="..\..\allegro\bin\allegro_image-5.2.dll"/>
                  <File Id="ApplicationFile8"    Source="..\..\allegro\bin\allegro_audio-5.2.dll"/>
                  <File Id="ApplicationFile9"    Source="..\..\allegro\bin\allegro_dialog-5.2.dll"/>
                  <File Id="ApplicationFile11"   Source="..\Cassettes\Basic Demo Cassette (zijde A).cas"/>
                  <File Id="ApplicationFile12"   Source="..\Cassettes\Basic Demo Cassette (zijde B).cas"/>
                  <File Id="ApplicationFile13"   Source="..\Cartridges\Basic 1.1 NL.bin"/>
                  <File Id="ApplicationFile14"   Source="..\Cartridges\Familiegeheugen 2.0 NL.bin"/>

                  <RegistryValue Root="HKLM" Key="SOFTWARE\M2000\Capabilities" Name="ApplicationDescription" Value="M2000 - Philips P2000 Emulator" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\M2000\Capabilities" Name="ApplicationName" Value="M2000" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\M2000\Capabilities\FileAssociations" Name=".cas" Value="M2000.Cassette" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\M2000\Capabilities\FileAssociations" Name=".p2000t" Value="M2000.Cassette2" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="M2000" Value="SOFTWARE\M2000\Capabilities" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\M2000.exe\SupportedTypes" Name=".cas" Value="" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\M2000.exe\SupportedTypes" Name=".p2000t" Value="" Type="string" />
                  <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\M2000.exe\shell\open" Name="FriendlyAppName" Value="M2000 - Philips P2000 Emulator" Type="string" />
                  <ProgId Id="M2000.Cassette" Description="M2000 Cassette" Icon="cassette_blue.ico">
                     <Extension Id="cas">
                        <Verb Id="open_cas" Command="Open" TargetFile="M2000.exe" Argument='"%1"' />
                     </Extension>
                  </ProgId>
                  <ProgId Id="M2000.Cassette2" Description="M2000 Cassette" Icon="cassette_red.ico">
                     <Extension Id="p2000t">
                        <Verb Id="open_p2000t" Command="Open" TargetFile="M2000.exe" Argument='"%1"' />
                     </Extension>
                  </ProgId>
               </Component>
            </Directory>
         </Directory>
         <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="M2000">
               <Component Id="ApplicationShortcuts" Guid="973ec9a1-1d88-4c2c-bce5-413742fcf781">
                  <Shortcut Id="ApplicationShortcut0"
                        Name="M2000 - Philips P2000 Emulator"
                        Description="M2000 - portable Philips P2000 Emulator"
                        Target="[INSTALLDIR]\M2000.exe"
                        WorkingDirectory="INSTALLDIR">
                        <Icon Id="Icon0" SourceFile="P2000T.ico" />
                  </Shortcut>
                  <RegistryValue Root="HKCU"
                    Key="Software\M2000\M2000"
                    Name="installed0"
                    Type="integer" Value="1" KeyPath="yes"/>
                  <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
               </Component>
            </Directory>
         </Directory>
      </Directory>

      <InstallExecuteSequence>
         <RemoveExistingProducts After="InstallValidate"/>
      </InstallExecuteSequence>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="ApplicationFiles"/>
         <ComponentRef Id="ApplicationShortcuts"/>
      </Feature>

      <UI>
         <!-- Define the installer UI -->
         <UIRef Id="WixUI_InstallDir" />
         <!-- Skip license dialog -->
         <Publish Dialog="WelcomeDlg"
                  Control="Next"
                  Event="NewDialog"
                  Value="InstallDirDlg"
                  Order="2">1</Publish>
         <Publish Dialog="InstallDirDlg"
                  Control="Back"
                  Event="NewDialog"
                  Value="WelcomeDlg"
                  Order="2">1</Publish>

         <Publish Dialog="ExitDialog"
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      </UI>

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch M2000" />
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
      <Property Id="WixShellExecTarget" Value="[#M2000.exe]" />
      <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
   </Product>
</Wix>
