Package: M2000
Version: 0.9.4
Maintainer: M2000 team
Architecture: amd64
Depends: liballegro5.2 (>=5.2.7), liballegro-dialog5.2 (>=5.2.7), liballegro-audio5.2 (>=5.2.7), liballegro-image5.2 (>=5.2.7)
Description: M2000 - Philips P2000 Emulator
