/src/**/*.o
/src/**/*.map
/src/**/*.dll
/src/**/*.a
/*.cas
/*.vram
/*.png
/*.bmp
/*.png
/*.bat
/*.bmp
/*.bin
/*.cfg
/**/*.state
/M2000
/M2000.EXE
/Printer.out
build/*
allegro/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.DS_Store
product.wixobj
*.msi